<form>
    <div class="form-group">
        <label>ID (Copy this to link)</label>
        <div class="form-fields">
            <input type="text" value="{{item.id}}" readonly>
            <button type="button" class="icon-button" data-action="copyId" title="Copy to Clipboard"
                onclick="navigator.clipboard.writeText('{{item.id}}')">
                <i class="fas fa-copy"></i>
            </button>
        </div>
    </div>

    <div class="form-group">
        <label>Image Path</label>
        <div class="form-fields">
            <input type="text" name="img" value="{{item.img}}">
            <button type="button" data-action="filePicker" data-type="image" title="Browse Files">
                <i class="fas fa-file-import fa-fw"></i>
            </button>
        </div>
    </div>

    <div class="form-group">
        <label>Tile Image? (Repeat)</label>
        <input type="checkbox" name="isTiled" {{checked item.isTiled}}>
        <p class="hint">If checked, the image will repeat to fill the box instead of stretching.</p>
    </div>

    <div class="form-group">
        <label>Hide from Players?</label>
        <input type="checkbox" name="isHidden" {{checked item.isHidden}}>
    </div>

    {{#if isPlatform}}
    <div class="form-group">
        <label>Semi-Permeable? (Pass/Drop)</label>
        <input type="checkbox" name="isSemiPermeable" {{checked item.isSemiPermeable}}>
    </div>
    {{/if}}


    <hr>

    {{#if isPlate}}
    <div class="form-group">
        <label>Target Gate ID</label>
        <div class="form-fields">
            <input type="text" name="targetId" value="{{item.targetId}}">
        </div>
    </div>
    <div class="form-group">
        <label>Duration (ms)</label>
        <div class="form-fields">
            <input type="number" name="duration" value="{{item.duration}}">
        </div>
    </div>
    {{/if}}

    {{#if isCrumble}}
    <div class="form-group">
        <label>Duration before fall (ms)</label>
        <div class="form-fields">
            <input type="number" name="duration" value="{{item.duration}}">
        </div>
    </div>
    {{/if}}

    {{#if isPortal}}
    <div class="form-group">
        <label>Target Portal ID</label>
        <div class="form-fields">
            <input type="text" name="targetId" value="{{item.targetId}}">
        </div>
    </div>
    {{/if}}

    {{#if isSpike}}
    <div class="form-group">
        <label>Static Hazard? (Always Active)</label>
        <input type="checkbox" name="isStatic" {{checked item.isStatic}}>
        <p class="hint">If checked, the hazard will not animate and always deal damage.</p>
    </div>
    {{/if}}

    <div class="form-footer" style="flex-direction: column; gap: 5px;">
        <div style="display: flex; gap: 5px; width: 100%;">
            <button type="button" data-action="sendToBack" title="Send this element to the back" style="flex: 1;">
                <i class="fas fa-arrow-down"></i> Send to Back
            </button>
            <button type="button" data-action="bringToFront" title="Bring this element to the front" style="flex: 1;">
                <i class="fas fa-arrow-up"></i> Bring to Front
            </button>
        </div>
        <button type="button" data-action="save">
            <i class="fas fa-save"></i> Save Changes
        </button>
    </div>
</form>